:host {
  p {
    font-family: Lato;
  }
  body {
    font-family: Lato;
    color: rgb(16, 13, 13);
  }

  .nav-grad1 {
    color: rgb(245, 237, 237);
    background: #0f0c29; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #24243e,
      #302b63,
      #0f0c29
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #24243e,
      #302b63,
      #0f0c29
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .navbar-text a.active {
    color: blue;
  }

  .example-spacer {
    flex: 1 1 auto;
  }
  .navbar {
    justify-content: space-between;
    font-size: medium;
  }

  span {
    padding-left: 2rem;
  }

  .navbar-brand {
    font-weight: 1000;
    font-size: 30px;
    padding-left: 70px;
  }

  #navbarSupportedContent {
    padding: 0;
  }
}
