<mat-toolbar style="background-color: black; color: white">
<div>
  <a class="navbar-brand" href="#"
    ><b style="color: red">E</b>lectro<b style="color: red">.</b>
  </a>
</div>

<span class="example-spacer"></span>
<div class="navbar">
  <span
    ><a class="nav-link" routerLink="/products" routerLinkActive="active"
      >Products</a
    ></span
  >
  <span
    ><a class="nav-link" routerLink="/product" routerLinkActive="active"
      >Shop</a
    ></span
  >

  <span
    ><mat-icon><a class="nav-link" href="#">home</a></mat-icon></span
  >
  <span
    ><mat-icon><a class="nav-link" href="#">search</a></mat-icon></span
  >
  <span
    ><mat-icon><a class="nav-link" href="#">menu</a></mat-icon></span
  >
</div>
</mat-toolbar>
