:host {
  p {
    font-family: Lato;
  }
  body {
    font-family: Lato;
    color: rgb(16, 13, 13);
  }

  .navbar-text a.active {
    color: blue;
  }

  .example-spacer {
    flex: 1 1 auto;
  }
  .navbar {
    justify-content: space-between;
    font-size: medium;
  }

  span {
    padding-left: 2rem;
  }

  .navbar-brand {
    font-weight: 1000;
    font-size: 30px;
    padding-left: 70px;
  }
}
