<mat-toolbar style="background-color:purple; color:white;">
  <div>
    <a class="navbar-brand" style="font-weight:1000; font-size:20px" href="#"
      >eCommerce
    </a>
  </div>

  <span class="example-spacer"></span>
  <div class="navbar">
    <span style="font-weight:bold;"
      ><a class="nav-link" routerLink="/products" routerLinkActive="active"
        >Products</a
      ></span
    >
    <span style="font-weight:bold;"
      ><a class="nav-link" routerLink="/products" routerLinkActive="active"
        >Contact</a
      ></span
    >
    <span
      ><mat-icon><a class="nav-link" href="#">home</a></mat-icon></span
    >
    <span
      ><mat-icon><a class="nav-link" href="#">menu</a></mat-icon></span
    >
  </div>
</mat-toolbar>

<h2 class="headline">Welcome to eCommerce Website..</h2>

<router-outlet></router-outlet>
