* {
  margin: 0%;
  padding: 0%;
}

.mat-card-img {
  object-fit: fill;
  width: 100%;
  height: 50%;
}

mat-card-title {
  font-weight: bolder;
  font-size: large;
}
mat-card::ng-deep.mat-card-header-text {
  width: 100%;
}

mat-grid-list {
  height: fit-content;
}

mat-grid-tile {
  overflow: visible;
  background-color: antiquewhite;
}

mat-card {
  width: 100%;
  height: 100%;
}

.mat-card-header {
  background-color: gold;
  padding: 5px;
}

button:hover {
  background-color: gold;
  font-weight: bold;
}
