:host {
  * {
    margin: 0%;
    padding: 0%;
  }
  
  .mat-card-img {
    object-fit: fill;
    width: 100%;
    height: 50%;
  }
  
  mat-card-title {
    font-weight: bolder;
    font-size: large;
  }
  mat-card::ng-deep.mat-card-header-text {
    width: 100%;
  }
  
  mat-grid-list {
    height: fit-content;
  }
  
  mat-grid-tile {
    overflow: visible;
    box-shadow: 1px 1px 10px 0 #080808 !important;
  }
  
  mat-card {
    width: 100%;
    height: 100%;
  }

  .paginator {
    background: #304352; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #d7d2cc,
      #304352
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #d7d2cc,
      #304352
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
  }
  
  .mat-card-header {
    background-color: gold;
    padding: 5px;
  }
  
  button:hover {
    background-color: gold;
    color: black;
    font-weight: bold;
  }
  mat-card-actions {
    align-items: center;
  }
  
  .btn-1 {
    background-color: black;
  
    color: white;
    border-radius: 3px;
  }
  
  @media only screen and (max-width: 600px) {}
  
}