// :host {
//   .p-form{
   
//     background: #ff00cc;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #333399, #ff00cc);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to right, #333399, #ff00cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
//     padding: 20px;
//   }
// .btn:hover{
// background-color: gold;
// color: black;
// border: gold;
// }
//   .example-full-width{
//     background-color: white;
    
//   }
//   @media (min-width: 500px) {
//     .product {
//       display: flex;
//     }
//     .product-img > img {
//       width: 100%;
//       flex: 1;
//     }
//     .product-prop {
//       padding-left: 15px;
//       padding-top: 10px;

//       flex: 2;
//     }
//     .img-array {
//       display: flex;
//     }
//     .images {
//       flex: 1 1 1 1;
//     }
//     .cart:hover {
//       color: gold;
//       cursor: pointer;
//     }
//   }
//   @media only screen and (max-width: 500px) {
//     .product {
//       display: block;
//     }
//     .product-img > img {
//       width: 100%;
//     }
//     .product-prop {
//       padding-left: 15px;
//       padding-top: 10px;

//       flex: 2;
//     }
//   }

//   @media (max-width: 768px) {
//     .product {
//       display: block;
//       align-items: center;
//     }
//   }
// }
