<br />
<div>
  <div>
    <h1 style="padding-left: 20px; background-color: gold; text-align:center;">
      <strong>{{ product.title }}</strong>
    </h1>
  </div>
  <div class="product">
    <div class="product-img">
      <img [src]="product.images[0]" alt="" />
    </div>
    <div class="product-prop">
      <p style="font-weight: bold"><b>Price:</b> ${{ product.price }}</p>
      <p><b>Brand:</b> {{ product.brand }}</p>
      <p><b>Category:</b> {{ product.category }}</p>
      <p>
        <b>All about {{ product.title }} :</b> {{ product.description }}
      </p>
      <p><b>Stock:</b> {{ product.stock }}</p>
      <p><b>Discount Percentage:</b> {{ product.discountPercentage }}</p>
      <p><b>Rating:</b> {{ product.rating }}</p>
      <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> -->
      <!-- <span><mat-icon class="cart">shopping_cart</mat-icon></span> -->
      <div class="img-array">
        <div class="immages">
          <img [src]="product.images[0][0]" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-form" *ngIf="productForm">
  <h2 style="background-color: gold; text-align:center">Filter Area</h2>
  <form
    [formGroup]="productForm"
    (ngSubmit)="onSubmit(productForm.value, productForm.isValid)"
    novalidate
  >
    <div class="grid">
      <div class="col-12 md:col-6 lg:col-3 sm:flex-nowrap">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Title</mat-label>
          <input
            type="email"
            matInput
            placeholder="title"
            formControlName="title"
          />
          <mat-error *ngIf="productForm.get('title').hasError('required')"
            >Title is <strong>required</strong></mat-error
          >
        </mat-form-field>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Description</mat-label>
          <input
            type="text"
            matInput
            placeholder="Description"
            formControlName="description"
          />
          <mat-error *ngIf="productForm.get('description').hasError('required')"
            >Description is <strong>required</strong></mat-error
          >
        </mat-form-field>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Category</mat-label>
          <input
            type="text"
            matInput
            placeholder="Category"
            formControlName="category"
          />
          <mat-error *ngIf="productForm.get('category').hasError('required')"
            >Category is <strong>required</strong></mat-error
          >
        </mat-form-field>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Price</mat-label>
          <input
            type="number"
            matInput
            placeholder="Price"
            formControlName="price"
          />
          <mat-error *ngIf="productForm.get('price').hasError('required')"
            >Price is <strong>required</strong></mat-error
          >
        </mat-form-field>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Brand</mat-label>
          <input
            type="text"
            matInput
            placeholder="Brand"
            formControlName="brand"
          />
          <mat-error *ngIf="productForm.get('brand').hasError('required')"
            >Brand is <strong>required</strong></mat-error
          >
        </mat-form-field>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Stock</mat-label>
          <input
            type="number"
            matInput
            placeholder="Stock"
            formControlName="stock"
          />
          <mat-error *ngIf="productForm.get('stock').hasError('required')"
            >Stock is <strong>required</strong></mat-error
          >
        </mat-form-field>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Rating</mat-label>
          <input
            type="number"
            matInput
            placeholder="Rating"
            formControlName="rating"
          />
          <mat-error *ngIf="productForm.get('rating').hasError('required')"
            >Rating is <strong>required</strong></mat-error
          >
          <mat-error *ngIf="productForm.get('rating').hasError('max')"
            >Max rating is <strong>10</strong></mat-error
          >
        </mat-form-field>
      </div>
    </div>
    <div class="center-form">
      <button
        [disabled]="productForm.isValid"
        class="btn btn-primary"
        type="submit"
      >
        Submit
      </button>
    </div>
  </form>
</div>
